@import "@ui/scss/base.scss";

.container {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 99;
    padding: $spacing-6 $spacing-12;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    min-width: 120px;
    width: max-content;
    border-radius: 4px;
}