@import "@ui/scss/base.scss";

$height: 7px;

.bar {
  background-color: $white;
  height: $height;
  position: relative;
  width: 100%;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: $height;
  background-color: $green-brand;
  @include default-transition(width);
}
