@import "@ui/scss/base.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 36px;
  position: relative;
  color: $gray-2;
  
  .icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    &:hover {
      background-color: $gray-4;
      border-radius: 50%;
    }
  }
}

.container {
  overflow-y: scroll;
  padding: 0 36px 36px 36px;
}


@media screen and (max-width: 768px){
  .container {
    padding: 0 18px 18px 18px;
  }
  
}